<ion-view>
  <link href="www/lib/ionic/ionicons.css" rel="stylesheet">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title class = 'menu-navbar2'>Aircraft</ion-nav-title>
  </ion-nav-bar>
  <ion-content class='sidebar'>
    <div class="row">
      <div class="col">
        <img class="img" src="img/Aircraft/2006-Global-500-550x550.jpg">
      </div>
      <div class="col">
        <img class="img" src="img/Aircraft/2006-Global-500-550x550.jpg">
        <label> Lorem ipsum <br /></label>
        <label class='product-price'> €250,000.00</label>
      </div>
    </div>
  </ion-content>
</ion-view>
